<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <div class="p-4 content-center">
    <lucide-icon [img]="shieldUser" class="my-icon"></lucide-icon>
  </div>
  <div class="p-4">
    <p class="m-1">
      <b>{{ field()?.fullName }} </b>{{ user()?.fullName }}
    </p>
    <p class="m-1">
      <b>{{ field()?.email }}: </b>{{ user()?.email }}
    </p>
    <p class="m-1">
      <b>{{ field()?.role }} </b>{{ user()?.role }}
    </p>
  </div>
  <div class="bg-transparent p-4 flex justify-between">
    <a
      class="btn btn-sm btn-outline-primary flex items-center justify-center w-10 h-10"
      href="#"
    >
      <lucide-icon [img]="penTool"></lucide-icon>
    </a>
    <button
      class="btn btn-sm btn-outline-danger flex items-center justify-center w-10 h-10"
      type="button"
    >
      <lucide-icon [img]="fileX"></lucide-icon>
    </button>
  </div>
</div>
