<div class="flex justify-center mt-3">
  <div class="w-full max-w-xs md:max-w-sm xl:max-w-xs mb-4">
    <div class="grid gap-1 w-full mx-auto">
      <a class="btn btn-primary" href="/user">New user</a>
    </div>
  </div>
  <div class="w-full md:max-w-md xl:max-w-lg mb-4">
    <div
      class="flex items-center border border-gray-300 rounded-lg overflow-hidden"
    >
      <input
        type="text"
        class="flex-grow px-3 py-2 outline-none"
        placeholder="Search User..."
      />
      <button
        class="btn btn-sm btn-outline-danger flex items-center justify-center w-8 h-8"
        type="button"
      >
        <lucide-icon [img]="search"></lucide-icon>
      </button>
    </div>
  </div>
</div>
